<html>
	<head>
		<title>AJ's Blog</title>
	</head>
	<body>
		<div>
			<h1>AJ's Blog</h1>
		</div>
		<div>
			<h2>This is paragraph # 1</h2>
			<ul>
				<li>Title heading: h2</li>
				<li><strong>example of strong text</strong></li>
				<li><em>example of em text</em></li>
			</ul>
		</div>
		<div>
			<h3>This is paragraph # 2</h3>
			<ul>
				<li>Title heading: h3</li>
				<li>Unordered list</li>
			</ul>
		</div>
		<div>
			<h3>This is paragraph # 3</h3>
			<ul>
				<li>Title heading: h3</li>
				<li><a href="http://djangoproject.com">Link to Django Official Website</a></li>
			</ul>
		</div>
	</body>
</html>
